@{
    Layout = "_Layout";
    ViewBag.Title = "Employee tracking info";
}

<div style="text-align:center; color:brown; font-family:'Courier New', Arial, sans-serif; font-size:large;">
    <hr />
    Product tracking - web application by VP.
    <br />
    It based on 3-layer architecture and was created using ASP.NET CORE MVC.
    <hr />
</div>

<div style="text-align:center">
    @Html.ActionLink("Authentification", "Login", "Account", null, new { @class = "btn btn-secondary" })
</div>



